                body {
                    margin: 0;
                    background-color: ghostwhite;

                }

            

                @media only screen and (min-width: 768px) {
                    
                }

                @viewport {
                    width: device-width; 
                    zoom: 1.0; 
                }

                @-ms-viewport {
                    width: device-width; 
                }

               h1 {
                   text-align: center; 
               }
                
                #top_image {
                    background-color: rgb(0, 178, 169);
                    background-repeat: no-repeat;
                    border: medium solid black;
                }
                
                fieldset {
                    border: medium solid black;
                    margin: 8px;
                    padding: 5px;
                }
                
                .nav-main ul {
                    display: flex;
                    flex-wrap: wrap;
                
                }
                
                .nav-main ul li {
                    list-style: none;
                    line-height: 60px;
                
                }
                
                .nav-main ul li a {
                    display: block;
                    height: 100%;
                    padding: 0 10px; 
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #111;
                    font-family: arial;
                    font-size: 16px;
                }
             
                #main {
                    margin-left: 8px; 
                }

                #goth-build {
                   height: 250px; 
                    width: 325px; 
                   }

                .container {
                    display: flex; 
                    flex-direction: row; 
                    position: relative; 
                    }

                #goth-build {
                    margin: 4px 8px; 
                    float: left; 
                    clear: both; 
                }

                #box-one {
                    padding-left: 45px; 
                    padding-right: 8px; 
                    float: right; 
                    clear: right; 
                }

                /*picture section start*/
               * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 100px; 
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 130px; 
  max-height: 100%; 
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


                /*picture section end*/
            

                #s_media li {
                    list-style: none;
                    margin-left: auto;
                    margin-right: auto;
                    display: inline;
                    align-items: center;
                }
                /*this is the facebook link*/
                
                #facebook {
                    height: 50px;
                    width: 50px;
                    display: inline;
                }

                #address {
                    position: relative; 
                    background-position: x-axis; 
                    background-repeat: repeat;
                    background-blend-mode: luminosity;
                    width: 100%;
                    display: flex; 
                    justify-content: center; 
                    

                }
                
                #address li {
                    position: relative; 
                    list-style: none;
                    padding-left: 5px;
                    color: black;
                    text-align: center;
                    margin: 0; 
                    text-align: center; 

                    /*float: left; */
                }
                
                #address ul {
                    padding: 0;
                }
                
                div facebook {
                    margin: 0 auto;
                    text-align: center;
                }
                
              a{
                  color: black; 
                  text-decoration: none; 
              }

              a:hover{
                  color: rgb(0, 178, 169); 
                  text-decoration: rgb(0, 178, 169); 
                  cursor: pointer; 
              }